<!DOCTYPE html>
<html>
  <head>
    <title>Reactive Chess</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= include_gon %>
  <%= javascript_include_tag 'application' %>
</html>
