
/*
 *
 *= require_tree .
 *= require_self
*/
#lobby .fixed-left {
  position: fixed;
  left: 0;
  top: 50px;
  width: 170px;
}

#lobby .content {
  position: fixed;
  top: 50px;
  left: 170px;
}

.error {
  color: red;
  margin-left:10px;
}

.pure-menu-horizontal {
  background-color: black;
}

.logo {
  color: white;
}

.pure-form span {
  display: inline-block;
  margin: 10px 0;
  color: #888;
}

.square {
  width: 12.5% ;
  height: 100% ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.square.white {
  background-color: white;
}
.square.black {
  background-color: black;
}

.square .piece.white {
  color: white; 
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.square .piece.black {
  color: black; 
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.square.valid-move.white{
  background-color: #68bd77;
}
.square.valid-move.black{
  background-color: #1e6900;
}
.square.selected {
  background-color: #4176e2;
}
.square.last-move {
  background-color: #8aa7e0;
}

.board {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex-direction: column;
  border: 2px solid black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {
  width: 100% ;
  height: 12.5% ;
  display: flex;
  flex-direction: row;
}

.controls {
  position: absolute; 
  right: 5px;
  top: 40px;
}

.controls .players {
  width: 120px;
  height: 50px;
}

.controls .players .white {
  display: inline-block;
  padding: 5px;
  color:black;
  background-color: white;
}

.controls .players .black {
  padding: 5px;
  display: inline-block;
  color:white;
  background-color: black;
}

.controls .players .turn {
  border:3px solid #69ff69;
}

.button-warning {
    background: #ff862c ;
}