
/*
 *
 *= require_tree .
 *= require_self
*/
#lobby .fixed-left {
  position: fixed;
  left: 0;
  top: 50px;
  width: 170px;
}

#lobby .content {
  position: fixed;
  top: 50px;
  left: 170px;
}

.error {
  color: red;
  margin-left:10px;
}

.pure-menu-horizontal {
  background-color: black;
}

.logo {
  color: white;
}

.pure-form span {
  display: inline-block;
  margin: 10px 0;
  color: #888;
}